<h1> 🔥 Dragon Radio 🔥</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<div class="container">
  <div class="header">
    Top Tracks
  </div>
 
  <div id="tracks-container"></div>
</div>

<script id="tracks-template" type="text/x-handlebars-template">
  {{#each tracks}}
  <div data-track-id="{{id}}" style="background-image:url(http://direct.rhapsody.com/imageserver/v2/albums/{{albumId}}/images/300x300.jpg)" class="cover">
  <div class=content-name>{{name}}</div>
  <audio controls class= "audio">
    <source src="{{previewURL}}" type="audio/mpeg">
  </audio>
  </div>
  {{/each}}
</script>


<div class="container" id="login">
    <h1 id="heading">View User Data</h1>
    <div id="login-section">
      <p>Log in with your Napster account and this demo will display information about you.</p>
      <button class="btn btn-primary signin" id="btn-login">Login</button>
    </div>
    <div id="result"></div>
</div>

<script id="result-template" type="text/x-handlebars-template">
    <dl>
      <img src="{{avatar}}">
      <dt>User Name</dt>
      <dd>{{realName}}</dd>
      <dt>Display Name</dt>
      <dd>{{screenName}}</dd>
      <dt>Followers</dt>
      <dd>{{followerCount}}</dd>
      <dt>Profile</dt>
      <dd><a href="https://app.napster.com/members/{{screenName}}" target="_blank">https://app.napster.com/members/{{screenName}}</a></dd>
      <dt>Napster ID</dt>
      <dd>{{id}}</dd>
    </dl>
</script>

<script> require('../app.js');</script>