<div class = "container-header">
  <h1> YaHerd? </h1>
  

<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script type="text/javascript" src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<header>
	<span class = "listen">TUNES TO TALK ABOUT</span>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="../views/index.hbs"><li>HOME</li></a>
    <a href="../views/about.hbs"><li>ABOUT</li></a>
    <a href="../views/topten.hbs"><li>TOP TEN</li></a>
  </ul>
</div>

<div class="header">
  Top Playlists
</div>

<div class="container">
  <div id="playlist-container"></div>
  <div id="tracks-container"></div>
</div>

<script id="playlist-template" type="text/x-handlebars-template">
  {{#each playlists}}
  <div style="background-image:url({{images.0.url}})" data-playlist-id="{{id}}" data-playlist-name="{{name}}" class="cover">
  <div class="content-name">{{name}}</div></div>
  {{/each}}
  <img src="http://i.imgur.com/vx7ikxd.png" alt="sheep" class="sheep" />
</script>


<script id="tracks-template" type="text/x-handlebars-template">
  {{#each tracks}}
  <div data-track-id="{{id}}" style="background-image:url(http://direct.rhapsody.com/imageserver/v2/albums/{{albumId}}/images/300x300.jpg)" class="cover">
  <div class=content-name>{{name}}</div>
  <audio controls class= "audio">
    <source src="{{previewURL}}" type="audio/mpeg">
  </audio>
  </div>
  {{/each}}
  <img src="http://i.imgur.com/vx7ikxd.png" alt="sheep" class="sheep" />
</script>
</div>


<div class="chatroom"> 
  <webview id="foo" src="http://ec2-54-197-159-148.compute-1.amazonaws.com:3000/"></webview>
</div>

<script> require('../routes/app.js');</script>
<script> require('../routes/menu.js');</script>


